.env
/node_modules/
npm-debug.log
yarn-error.log
/public/hot
/public/storage
/public/js/
/public/css/
/public/mix-manifest.json
/vendor/
/storage/*.key
/storage/logs/
/config/ide-helper.php
_ide_helper*.php
.phpstorm.meta.php
Homestead.json
Homestead.yaml
.phpunit.result.cache
.idea/
.editorconfig
